body{
    background-color: #fff;
    font-family:"Century Gothic" ;
    font-size: 18;
    margin: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    text-align: center;
    background-color: brown;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

section{
    float: left;
    width: 70%;
    margin-bottom: 100px; 
}

aside{
    float: right;
    width: 25%;
}

footer{
    background-color: bisque;
    clear: both;
    padding: 50px 0;
    text-align: center;
}
